body, html {
    height: 100%;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background: #f9eceb; /* Light pastel background */
    color: #3d3d3d; /* Soft dark gray for text */
}

.login-container {
    background: #fff; /* White background for card */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Soft shadow */
    max-width: 400px;
    width: 100%;
    position: relative;
    z-index: 10;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif; /* Softer font for more elegance */
}

.login-container h2 {
    margin-bottom: 15px;
    color: #8e5b63; /* Soft pastel pink */
    text-align: center;
    font-size: 1.75rem;
}

.login-container .form-control {
    border-radius: 5px;
    border: 1px solid #ddd; /* Light border */
    background-color: #f9f9f9; /* Light gray for input background */
    color: #3d3d3d;
    font-size: 0.9rem;
}

.login-container .form-control::placeholder {
    color: #a9a9a9;
}

.login-container .btn {
    border-radius: 5px;
    background-color: #fcbf83; /* Soft peach button */
    color: #3d3d3d;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(252, 191, 131, 0.2); /* Soft shadow */
}

.login-container .btn:hover {
    background-color: #e6a970; /* Darker peach on hover */
    box-shadow: 0 4px 12px rgba(252, 191, 131, 0.3);
}

.login-container .form-check {
    margin-bottom: 15px;
}

.login-container .form-check-label {
    font-size: 0.8em;
    color: #3d3d3d;
}

.forgot-password-link {
    color: #8e5b63; /* Soft pastel pink */
    font-size: 0.875rem;
    margin-top: 10px;
    text-align: right;
    display: inline-block;
}

.forgot-password-link:hover {
    color: #fcbf83; /* Peach on hover */
    text-decoration: underline;
}

.btn-google {
    background-color: #ffffff !important;
    color: #3d3d3d !important;
    border: 1px solid #ddd;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-google:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn-google img {
    width: 20px;
    height: 20px;
}